@charset 'UTF-8';

.topimage {
	height: 400px;
}

.topimage img {
	height: 400px;
	width: 100%;
}




@charset 'UTF-8';
@import url(https://fonts.googleapis.com/css?family=Abel);
/* Base
------------------------------------------------------------*/
html
{
    font-size: 62.5%;
}

body
{
    font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.6;

    letter-spacing: .1em;

    color: #4c4c4c;
    background-color: #f2e9d0;
}

a
{
    text-decoration: none;

    color: #bb5a5a;
}
a:visited
{
    color: #bb5a5a;
}
a:hover
{
    color: #0f949b;
}
a:active
{
    color: #16d6e0;
}
a:hover
{
    text-decoration: underline;
}

/* Align
------------------------------------------------------------*/
.text-center
{
    text-align: center;
}

/* Layout
------------------------------------------------------------*/
.block-center,
section .container,
#skills i
{
    display: block;

    margin-right: auto;
    margin-left: auto;
}

/* Font
------------------------------------------------------------*/
.abel,
section h2,
#skills h3,
#works .works-box a .works-box-inner .button-readmore
{
    font-family: 'Abel', sans-serif;
}

.uppercase,
section h2,
#skills h3,
#works .works-box a .works-box-inner .button-readmore
{
    text-transform: uppercase;
}

/* Header
------------------------------------------------------------*/
.button-contact
{
    font-size: 20px;
    line-height: 0;

    display: block;
    float: right;

    width: 20px;
    height: 20px;
    margin: 20px 20px 0 0;
    padding: 10px;

    text-align: center;

    color: #4c4c4c;
    border: 2px solid #4c4c4c;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.button-contact:visited
{
    color: #4c4c4c;
}
.button-contact:hover,
.button-contact:active
{
    color: #fff;
    background-color: #4c4c4c;
}

header .profile
{
    clear: both;

    width: 60%;
    margin: 0 auto;
    padding: 60px 0;
}
header .site-title
{
    font-size: 18px;
    font-size: 1.8rem;
    line-height: normal;
}
header .site-title span
{
    font-size: 42px;
    font-size: 4.2rem;

    display: block;

    color: #bb5a5a;
}
header .profile-icon
{
    margin: 30px auto;

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
header p
{
    font-size: 16px;
    font-size: 1.6rem;
}

/* Contents
------------------------------------------------------------*/
section
{
    padding: 60px 0;
}
section .container
{
    width: 90%;
}
section h2
{
    font-size: 32px;
    font-size: 3.2rem;
}





#skills
{
    background-color: #e79e85;
}




#skills .container
{
    display: -webkit-flex;
    display:         flex;
    justify-content: space-between;
}


#skills h2
{
    margin-bottom: 60px;

    color: #fdfcf6;
}
#skills .skill-box
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 32%;
    padding: 20px;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #fdfcf6;
}

@media (max-width: 768px) {
    .skill-box {
        -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 20px;
    padding: 20px;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #fdfcf6;
    }
}








#skills i
{
    font-size: 45px;
    font-size: 4.5rem;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    padding-top: 15px;

    text-align: center;

    color: #fff;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background-color: #bb5a5a;
}
#skills h3
{
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: bold;

    margin-bottom: 10px;

    color: #bb5a5a;
}



/* Footer
------------------------------------------------------------*/
footer
{
    padding: 80px 0;

    text-align: center;

    color: #fff;
    background-color: #fdfcf6;
}

.bottom h1 {
 color: #bb5a5a;
}

.botan {
    width:200px;
    font-size:24px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:8px 0 10px;
    color:#fff;
    background-color:#e79e85;;
    border-radius:10px;
    margin: 0 auto;
}













